@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100;200;300;400;500;600;700;800;900&family=Barlow:wght@100;200;300;400;500;600;700;800;900&family=Bellefair&display=swap');

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--clr-primary: #0b0d17;
	--clr-secondary: #d0d6f9;
	--clr-white: #fff;

	--text-color-01: #fff;
	--text-color-02: rgba(255, 255, 255, 0.25);
	--hover-color-01: rgba(255, 255, 255, 0.1);
	--hover-color-02: rgba(255, 255, 255, 0.5);
	--navbar-bg: rgba(255, 255, 255, 0.04);
	--line-color: rgba(255, 255, 255, 0.25);
	--circle-color: rgba(255, 255, 255, 0.175);

	/* font-families */
	--ff-bellefair: 'Bellefair', serif;
	--ff-barlow-cond: 'Barlow Condensed', sans-serif;
	--ff-barlow: 'Barlow', sans-serif;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-family: var(--ff-bellefair);
	font-size: 1.6rem;
	line-height: 1.5;
	color: var(--text-color-01);
	min-height: 100vh;
	display: grid;
	grid-template-rows: min-content 1fr;
	overflow-x: hidden;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;

	@include respond(tab-port) {
		background-position: bottom center;
	}
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	font-weight: 400;
}

img {
	max-width: 100%;
	display: block;
}

input,
button,
textarea,
select {
	font: inherit;
	border: none;
	outline: none;
}

a {
	text-decoration: none;
}

li {
	list-style-type: none;
}

@media (prefers-reduced-motion: reduce) {
	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}
