h1 {
	font-size: 15rem;
}

h2 {
	font-size: 10rem;
}

h3 {
	font-size: 5.6rem;
}

h4 {
	font-size: 3.2rem;
}

h5 {
	font-family: 'Barlow Condensed', sans-serif;
	font-size: 2.8rem;
	letter-spacing: 4.72px;
	color: var(--color-secondary);
}

p {
	font-family: 'Barlow', sans-serif;
	font-size: 1.8rem;
	line-height: 3.2rem;
}

.subheading-1 {
	font-size: 2.8rem;
}

.subheading-2 {
	font-family: 'Barlow Condensed', sans-serif;
	font-size: 1.4rem;
	letter-spacing: 2.35px;
}

.nav-text {
	font-family: 'Barlow Condensed', sans-serif;
	font-size: 1.6rem;
	font-weight: 400;
	letter-spacing: 2.7px;

	@include respond(tab-port) {
		font-size: 1.4rem;
		letter-spacing: 2.36px;
	}

	@include respond(bp-600) {
		font-size: 1.6rem;
		letter-spacing: 2.7px;
	}
}
