.flex {
	display: flex;
	gap: var(--gap, 1rem);
}

.grid {
	display: grid;
	gap: var(--gap, 1rem);
}

.container {
	padding-inline: 5rem;
	margin-inline: auto;
	max-width: 120rem;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border: 0;
}

.resize-animation-stopper * {
	animation: none !important;
	transition: none !important;
}

.container {
	padding-inline: 2em;
	margin-inline: auto;
	max-width: 80rem;
}

.intro-title {
	width: 100%;
	h1 {
		font-family: var(--ff-barlow-cond);
		font-size: 2.8rem;
		letter-spacing: 4.72px;
		text-transform: uppercase;

		@include respond(tab-land) {
			font-size: 2rem;
			letter-spacing: 3.38px;
		}

		@include respond(mobile) {
			font-size: 1.6rem;
			letter-spacing: 2.7px;
			text-align: center;
		}

		span {
			font-weight: 700;
			color: var(--text-color-02);
			margin-inline-end: 2.8rem;

			@include respond(tab-port) {
				margin-inline-end: 1.8rem;
			}

			@include respond(mobile) {
				margin-inline-end: 1.6rem;
			}
		}
	}
}

.home-body {
	background-image: url(../assets/home/background-home-desktop.jpg);

	@include respond(tab-port) {
		background-image: url(../assets/home/background-home-tablet.jpg);
	}

	@include respond(mobile) {
		background-image: url(../assets/home/background-home-mobile.jpg);
	}
}

.destination-body {
	background-image: url(../assets/destination/background-destination-desktop.jpg);

	@include respond(tab-port) {
		background-image: url(../assets/destination/background-destination-tablet.jpg);
	}

	@include respond(mobile) {
		background-image: url(../assets/destination/background-destination-mobile.jpg);
	}
}

.crew-body {
	background-image: url(../assets/crew/background-crew-desktop.jpg);

	@include respond(tab-port) {
		background-image: url(../assets/crew/background-crew-tablet.jpg);
	}

	@include respond(mobile) {
		background-image: url(../assets/crew/background-crew-mobile.jpg);
	}
}

.technology-body {
	background-image: url(../assets/technology/background-technology-desktop.jpg);

	@include respond(tab-port) {
		background-image: url(../assets/technology/background-technology-tablet.jpg);
	}

	@include respond(mobile) {
		background-image: url(../assets/technology/background-technology-mobile.jpg);
	}
}
