.grid-container--crew {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: min-content 1fr;
	row-gap: 2.6rem;
	margin-block-start: 7.6rem;
	padding-inline-start: 16.5rem;
	overflow-x: hidden;

	@include respond(bp-1400) {
		padding-inline-start: 8rem;
		margin-block-start: 4rem;
		row-gap: 6rem;
	}

	@include respond(tab-land) {
		margin-block-end: 0;
	}

	@include respond(tab-port) {
		padding-inline: 0;
		margin-block-end: 0;
		padding-inline: 2.4rem;
	}

	@include respond(mobile) {
		margin-block-start: 2.4rem;
		padding-block-end: 4.4rem;
		row-gap: 3.2rem;
	}

	.intro-title {
		@include respond(tab-port) {
			margin-inline-start: 3.85rem;
		}

		@include respond(mobile) {
			margin-inline-start: 0;
		}
	}

	.content {
		display: flex;
		align-items: center;
		justify-content: center;
		column-gap: 2rem;

		@include respond(laptop) {
			justify-content: initial;
		}

		@include respond(tab-port) {
			flex-direction: column;
			justify-content: space-evenly;
			row-gap: 4rem;
		}

		@include respond(mobile) {
			row-gap: 3.2rem;
		}

		.details {
			display: flex;
			flex-direction: column;
			justify-content: center;
			height: 100%;
			width: 100%;
			margin-block-end: 5rem;

			@include respond(tab-port) {
				text-align: center;
				justify-content: initial;
				height: auto;
				margin-block-end: 0;
			}

			h1 {
				font-family: var(--ff-bellefair);
				font-size: 3.2rem;
				color: var(--hover-color-02);
				text-transform: uppercase;
				margin-block-end: 1.5rem;
				animation: fadeUp 1s ease;

				@include respond(bp-1400) {
					font-size: 3rem;
				}

				@include respond(tab-land) {
					font-size: 2.4rem;
					margin-block-end: 0.8rem;
				}

				@include respond(mobile) {
					font-size: 1.6rem;
				}
			}

			span {
				display: block;
				font-family: var(--ff-bellefair);
				font-size: 5.6rem;
				text-transform: uppercase;
				margin-block-end: 2.7rem;
				animation: fadeUp 1s ease;

				@include respond(tab-land) {
					font-size: 4rem;
					margin-block-end: 1.6rem;
				}

				@include respond(mobile) {
					font-size: 2.4rem;
				}
			}

			p {
				max-width: 44.5rem;
				font-family: var(--ff-barlow);
				font-size: 1.8rem;
				line-height: 3.2rem;
				color: var(--clr-secondary);
				margin-bottom: 12rem;
				height: 16rem;
				animation: fadeUp 1s ease;

				@include respond(tab-land) {
					font-size: 1.6rem;
					line-height: 2.8rem;
				}

				@include respond(tab-port) {
					max-width: 60rem;
					height: auto;
					margin: 0 auto;
					margin-block-end: 4rem;
				}

				@include respond(mobile) {
					font-size: 1.5rem;
					line-height: 2.5rem;
					margin-block-end: 0;
					height: 15rem;
					display: grid;
					place-items: center;
				}

				@include respond(mobileXS) {
					height: auto;
				}
			}

			.crew-pagination {
				display: flex;
				align-items: center;
				column-gap: 2.4rem;

				@include respond(tab-port) {
					justify-content: center;
					column-gap: 1.6rem;
				}

				@include respond(mobile) {
					order: -1;
					margin-block-end: 3.2rem;
				}

				.circle {
					width: 1.5rem;
					height: 1.5rem;
					border-radius: 50%;
					background-color: var(--circle-color);
					cursor: pointer;
					transition: background-color 0.3s ease;

					@include respond(tab-land) {
						width: 1.2rem;
						height: 1.2rem;
					}

					@include respond(tab-port) {
						width: 1rem;
						height: 1rem;
					}

					&:hover {
						background-color: var(--hover-color-02);
					}

					&.active {
						background-color: var(--clr-white);
					}
				}
			}
		}

		.crew-img {
			position: relative;
			display: grid;
			height: 100%;
			width: 100%;
			border-bottom: 1px solid #383b4b;
			animation: fadeDown 1s ease;

			@include respond(tab-land) {
				height: 53.2rem;
			}

			@include respond(tab-port) {
				place-items: center;
			}

			@include respond(mobile) {
				order: -1;
				height: Max(22.2rem, 32vh);
			}

			img {
				position: absolute;
				bottom: 0;
				height: 100%;
			}
		}
	}
}

@keyframes fadeUp {
	0% {
		transform: translateY(5rem);
		opacity: 0;
		visibility: none;
	}

	100% {
		transform: translateY(0);
		opacity: 1;
		visibility: visible;
	}
}

@keyframes fadeLeft {
	0% {
		transform: translateX(-20rem);
		opacity: 0;
		visibility: none;
	}

	100% {
		transform: translateX(0);
		opacity: 1;
		visibility: visible;
	}
}
