.container--home {
	display: flex;
	align-items: flex-end;
	justify-content: space-around;
	margin-inline: 16.5rem;
	margin-block-start: 7.6rem;
	margin-block-end: 20rem;

	@include respond(laptop) {
		margin-block-end: 13rem;
	}

	@include respond(laptop) {
		justify-content: space-between;
	}

	@include respond(bp-1400) {
		margin-block-start: 4rem;
		row-gap: 4rem;
	}

	@include respond(bp-1200) {
		margin-inline: 8rem;
		margin-block-end: 12rem;
	}

	@include respond(tab-port) {
		flex-direction: column;
		align-items: center;
		justify-content: space-evenly;
		margin-inline: 4rem;
		row-gap: 5.6rem;
		margin-block-end: 4rem;
	}

	@include respond(mobile) {
		margin-inline: 2.4rem;
		row-gap: 2.6rem;
		margin-block-start: 2.4rem;
		margin-block-end: 5rem;
	}

	.intro-text {
		animation: moveInLeft 1s ease;

		@include respond(tab-port) {
			text-align: center;
		}

		h1 {
			font-family: var(--ff-barlow-cond);
			font-size: 2.8rem;
			letter-spacing: 4.72px;
			color: var(--clr-secondary);

			@include respond(tab-land) {
				font-size: 2rem;
				letter-spacing: 3.38px;
			}

			@include respond(mobile) {
				font-size: 1.6rem;
				letter-spacing: 2.7px;
			}
		}

		span {
			font-family: var(--ff-bellefair);
			font-size: 15rem;

			@include respond(tab-land) {
				font-size: 12rem;
				line-height: 15rem;
			}

			@include respond(mobile) {
				font-size: 8rem;
				line-height: 10rem;
			}
		}

		p {
			font-family: var(--ff-barlow);
			font-size: 1.8rem;
			line-height: 3.2rem;
			color: var(--clr-secondary);
			max-width: 45rem;

			@include respond(tab-land) {
				font-size: 1.6rem;
				line-height: 2.8rem;
			}

			@include respond(mobile) {
				font-size: 1.5rem;
			}
		}
	}

	.btn-container {
		animation: moveInRight 1s ease;
		.explore {
			display: inline-grid;
			place-items: center;
			position: relative;
			font-family: var(--ff-bellefair);
			font-size: 3.2rem;
			letter-spacing: 2px;
			text-transform: uppercase;
			color: var(--clr-primary);
			background-color: var(--clr-white);
			aspect-ratio: 1;
			width: 27.4rem;
			border-radius: 50%;

			@include respond(tab-land) {
				width: 24.2rem;
			}

			@include respond(mobile) {
				font-size: 2rem;
				letter-spacing: 1.25px;
				width: 15rem;
			}

			&::after {
				content: '';
				position: absolute;
				width: 100%;
				height: 100%;
				border-radius: 50%;
				background-color: var(--hover-color-01);
				opacity: 0;
				transition: opacity 0.3s linear, transform 0.3s ease;
			}

			&:hover::after,
			&:focus::after {
				opacity: 1;
				transform: scale(1.6);
			}
		}
	}
}
