header {
	position: fixed;
	top: 4rem;
	left: 5.5rem;
	right: 0;
	z-index: 10;
	display: flex;
	align-items: center;
	justify-content: space-between;

	@include respond(tab-port) {
		top: 0;
		left: 3.9rem;
	}

	@include respond(mobile) {
		right: 2.4rem;
		top: 2.4rem;
		left: 2.4rem;
	}

	.logo {
		margin-right: 6.4rem;
		flex-shrink: 0;

		@include respond(tab-land) {
			margin-right: 3rem;
		}

		@include respond(mobile) {
			width: 4rem;
		}

		img {
			display: block;
			width: 100%;
		}
	}

	.hr {
		background-color: var(--line-color);
		height: 1px;
		flex: 2;
		transform: translateX(2.5rem);
		position: relative;
		z-index: 1;

		@include respond(tab-port) {
			display: none;
		}
	}

	.primary-navigation {
		background-color: var(--navbar-bg);
		backdrop-filter: blur(0.8155rem);
		height: 9.6rem;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-shrink: 0;
		flex-grow: 1;

		@include respond(tab-port) {
			flex: 0;
			width: 45rem;
			padding-left: 4.8rem;
			padding-right: 4.8rem;
		}

		@include respond(bp-600) {
			width: 40rem;
		}

		@include respond(mobile) {
			display: none;
		}

		.nav-items {
			width: 54.2rem;
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: space-between;

			@include respond(tab-port) {
				width: 35.6rem;
			}

			li {
				height: 100%;
				position: relative;
				display: flex;
				align-items: center;

				a {
					color: var(--text-color-01);
					padding: 3.7rem 0;
					border-bottom: 3px solid transparent;
					transition: border-bottom 0.3s ease-in;

					span {
						font-weight: 700;

						@include respond(tab-port) {
							display: none;
						}
					}

					&:hover {
						border-bottom: 3px solid var(--hover-color-02);
					}

					&.active {
						border-bottom: 3px solid var(--text-color-01);
					}
				}
			}
		}
	}

	.navbar-toggle {
		position: relative;
		display: none;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		width: 2.4rem;
		height: 2.1rem;
		cursor: pointer;
		z-index: 10;

		@include respond(mobile) {
			display: flex;
		}

		.hamburger {
			width: 100%;
			height: 3px;
			background-color: var(--color-secondary);
			transition: all 0.3s ease;

			&::before,
			&::after {
				content: '';
				position: absolute;
				width: 100%;
				height: 3px;
				background-color: var(--color-secondary);
				transition: transform 0.3s ease;
			}

			&::before {
				transform: translateY(-0.9rem);
			}

			&::after {
				transform: translateY(0.9rem);
			}
		}

		&.open {
			.hamburger {
				transform: translateX(-5rem);
				background: transparent;

				&::before {
					transform: rotate(45deg) translate(3.5rem, -3.5rem);
				}

				&::after {
					transform: rotate(-45deg) translate(3.5rem, 3.5rem);
				}
			}
		}
	}
}

.sidebar {
	position: fixed;
	width: 25.4rem;
	top: 0;
	bottom: 0;
	right: 0;
	background-color: var(--navbar-bg);
	backdrop-filter: blur(16px);
	padding-top: 11.8rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	z-index: 9;
	transform: translateX(100rem);
	transition: all 0.3s;

	@include respond(mobileXS) {
		width: 20.4rem;
	}

	.nav-items {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		padding-inline: 3.2rem;
		width: 100%;
		transition: all 0.3s;

		a {
			font-size: 1.6rem;
			font-weight: 400;
			letter-spacing: 2.7px;
			color: var(--text-color-01);
			width: 100%;

			&:not(:last-child) {
				margin-bottom: 3.2rem;
			}

			&:hover {
				color: var(--color-primary);
				border-left: 3px solid var(--neutral-500);
				background: var(--neutral-050);
			}

			span {
				font-size: 1.6rem;
				font-weight: 700;
				letter-spacing: 2.7px;
			}
		}

		a.active {
			color: var(--black-n-white-1);
			font-weight: 500;
		}
	}

	&.active {
		transform: translateX(0);
	}
}

.overlay {
	z-index: -1;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: none;

	&.active {
		display: block;
	}
}
